
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    letter-spacing: 10px;
}

h3{
    color: rgb(247, 112, 112);
    text-align: center;
    margin: 50px;
    font-size: 40px;
}

body{
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background: black;
    display: flex;
}

/*Plot-Page*/

.plot-background-image{
    position: absolute;
    top: -400px;
}

.plot-header{
    position: absolute;
    top: 30px;
    left: 230px;
    padding: 30px;
}

.lineh{
    position: absolute;
    border-bottom: 7px solid rgb(203,66,74);
    top: 780px;
    right: 1250px;
    left: 550px;
}

.plot-content{
    position: absolute;
    font-size: 20px;
    /*border: 2px solid red;*/
    padding: 0px 50px 80px 50px;
    line-height: 50px;
    text-align: justify;
    top: 800px;
    right: 500px;
    left: 500px;
}

.reviews-container{
    position: absolute;
    top: 1250px;
    left: 250px;
    width: 70%;
    /*border: 2px solid red;*/
    display: flex;
    padding: 40px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.reviews{
    margin: 30px;
    line-height: 2;
}

.author{
    margin: 15px;
    text-align: right;
}

.logo{
    position: absolute;
    /*border: 2px solid red;*/
    top: 400px;
    left: 220px;
}

/*Characters & Cast Page*/

.chars-background-image{
    position: absolute;
    top: 0px;
    filter: blur(5px);
}

.char-header{
    position: absolute;
    top: 30px;
    left: 230px;
    padding: 30px;
}

.char-info-container{
    position: absolute;
    top: 200px;
    left: 460px;
    width: 54.2%;
    height: 800px;
    overflow: hidden;
}

.char-images{
    width: 100%;
    display: flex;
}

.char-images img{
    height: 730px;
    width: 130%;
    transition: all 1s ease-out;
}

.char-images input{
    display: none;
}

.manual-nav{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.manual-nav label{
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    margin: 20px;
    transition: all 0.5s ease-out;
    border-radius: 50%;
}

.manual-nav label:hover{
    background: #fff;
}

#slide1:checked ~ .m1{
    margin-left: 0%;
}

#slide2:checked ~ .m2{
    margin-left: -100.3%;
}

#slide3:checked ~ .m3{
    margin-left: -200.3%;
}

#slide4:checked ~.m4{
    margin-left: -305%;
}

/*Creative Team Page*/

.linev{
    position: absolute;
    border-top: 3px solid #fff;
    right: 50px;
    left: 480px;
    width: 30%;
    top: 435px;
    transform: rotate(90deg);
}

.creative-team-header{
    position: absolute;
    top: 30px;
    left: 230px;
    padding: 30px;
}

.creative-team-container{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 70%;
    height: 935px;
    /*border: 2px solid red;*/
}

.creative-logo{
    position: absolute;
    top: 230px;
    left: 50px;
}

.creative-team{
    position: absolute;
    top: 220px;
    left: 780px;
}

.creative-text{
    margin: 30px;
}

/*Sidebar*/

.sidebar{
    position: fixed;
    background: #f0ecec;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.8s ease;
    transform: translateX(-200px);
}

.sidebar-content{
    position: fixed;
    top: 300px;
    /*border: 2px solid red;*/
    margin: 10px 50px 10px 10px;
    padding: 10px;
}

ul{
    list-style: none;
    width: 100%;
}

ul li:hover a{
    color: rgb(161,37,52);
}

li{
    margin: 50px 0;
    letter-spacing: 1px;
    border-bottom: 1.5px solid black;
}

a:visited, a:hover, a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: black;
}

.logo{
    position: absolute;
    /*border: 2px solid red;*/
    top: 400px;
    left: 220px;
}

input{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

span{
    position: absolute;
    right: -41px;
    top: 65px;
    border-radius: 3px;
    padding: 3px 10px;
    cursor: pointer;
}

.menu-label{
    top: 110px;
    right: -41px;
    position: fixed;
    padding: 5px;
    color: white;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 5px;
    background: rgb(203,66,74);
    padding: 5px;
    cursor: pointer;
}

#check:checked ~ .sidebar{
    transform: translateX(0);
}

.rotate{
    transform: rotate(180deg);
}